.homepage {

  &__top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    position: relative;
    z-index: 2;
  
    &__logo img {
      height: 3.2rem;
    }
  
    &__links {
      display: flex;
    }
  
    &__item {
      @include nav-text;
      transition: color .2s;
  
      &:not(:last-of-type) {
        margin-right: 4rem;
      }

      &:nth-of-type(2) {
        font-weight: 300;
      }

      &:hover {
        cursor: pointer;
        color: var(--color-red);
      }
    }
  }

  &__brush {
    position: absolute;
    top: 0;
    left: 7rem;
    height: 70vh;
    z-index: 1;
  }

  &__slogan {
    position: absolute;
    top: 22%;
    left: 55%;
    font-family: 'Montserrat', sans-serif;
    font-size: 5.6rem;
    font-weight: 100;
    line-height: 1.2;
    z-index: 3;

    &__bolder {
      font-weight: 200;
    }
  }

  /// BOTTOM NAVIGATION

  &__bottom-nav {
    position: absolute;
    bottom: 8rem;
    z-index: 3;
    display: flex;

    &__link {
      display: flex;
      flex-direction: column-reverse;
      width: 22rem;

      &:not(:last-of-type) {
        margin-right: 4rem;
      }

      &:nth-of-type(3) &__image {
        transform: translateY(-53%);
      }

      &:hover {
        cursor: pointer;
      }

      &:hover &__text {
        color: var(--color-red);
      }

      &:hover > .hover-box {
        height: 100%;
        opacity: 1;
      }

      &__text {
        @include nav-text;
        margin-top: 1.6rem;
        transition: color .2s;
      }

      &__image-box {
        display: block;
        @include image-box;
        position: relative;
        margin-top: 1.6rem;
      }

      &__image {
        position: relative;
        width: 100%;
        transform: translateY(-10%);
      }
    }
  }
}

/// HOVER BOX

.hover-box {
  width: 48rem;
  background-color: rgba(255, 255, 255, .75);
  padding: 1rem;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: all .8s;

  &__item {
  }

  &__link {
    display: flex;
    padding: .4rem 0;
    
    &:hover {
      cursor: pointer;
    }

    &:hover > &__text {
      color: var(--color-red);
    }

    &__image-box {
      @include image-box;
      background-color: grey;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      line-height: 1.4;
      padding: 0 2rem;
      position: relative;
      transition: color .2s;

      &__model {
        font-size: 1.8rem;
        text-transform: uppercase;
      }

      &__description {
        font-size: 1.4rem;
        font-weight: 300;
      }

      &:after {
        content: "";
        display: block;
        height: 2px;
        width: 8rem;
        background-color: var(--color-red);
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
