.inneurzadzenia-box {
  @include page-box--2;

  &__image-box {
    @include image-box--3;
  }

  @include item-list;
}

.inneurzadzenia-box__item-box {

  &--hs007 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/DeermaHS006_1_LS.jpg);
      background-size: cover;
      background-position: left;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/Deerma-HS006_19_LS.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  &--hx10 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/hx10/2.jpg);
      background-size: cover;
      background-position: 75% 50%;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/hx10/0.jpg);
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--nu05 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/nu05/Deerma_NU05_10_72.jpg);
      background-size: cover;
      background-position: left;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/nu05/0.jpg);
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--tb500 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/TB500.jpg);
      background-size: cover;
      background-position: center;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/TB500B.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  &--tb900 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/tb900/1-1.jpg);
      background-size: cover;
      background-position: 10% 50%;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/tb900/tb900_menu.png);
      background-size: 110%;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }
  
  &--zq610 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/zq610/1-1.png);
      background-size: cover;
      background-position: 75%;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/zq610/0.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  &--mq813 {

    & .inneurzadzenia-box__image-box {
      background-image: url(../img/inneurzadzenia/mq813_inne1.jpg);
      background-size: cover;
      background-position: left;
    }

    & .inneurzadzenia-box__image {
      background-image: url(../img/inneurzadzenia/mq813_inne2.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}