.odkurzacze-box {
  @include page-box--2;

  &__image-box {
    @include image-box--3;
    background-image: url(../img/odkurzacze/cm180.jpg);
    background-size: cover;
    background-position: center;
  }

  @include item-list;
}

.odkurzacze-box__image {
  background-image: url(../../../img/odkurzacze/VC40.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}