.odkurzacze-box {
  @include page-box--2;

  &__image-box {
    @include image-box--3;
  }

  @include item-list;
}

.odkurzacze-box__item-box {

  &--vc40 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/07.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/VC40m.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--vc25 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/vc25_menu.png);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/VC25/0.jpg);
      background-size: 140%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--vc20plus {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/vc20plus/vc20plus_menu.png);
      background-size: cover;
      background-position: 32% 50%;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/vc20plus/0.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--vc20 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/VC20_LS02.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/vc20m.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--vc01 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/vc01_menu.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/VC01/0.jpg);
      background-size: 160%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--cm810 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/cm180.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/Deerma_CM800_on_white.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
    }
  }

  &--tj200 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/TJ200_03_LS.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/TJ200_01_LS.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--dx800 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/dx800/1-1.png);
      background-size: cover;
      background-position: 30% 50%;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/dx800/0.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &--dx700 {

    & .odkurzacze-box__image-box {
      background-image: url(../img/odkurzacze/DX700girl.jpg);
      background-size: cover;
      background-position: center;
    }

    & .odkurzacze-box__image {
      background-image: url(../img/odkurzacze/dx700-B-W.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

