.polityka-box {
  margin-top: calc(var(--top-bar-height) + 5rem);
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

  &__image-box {
    @include image-box--2;
  }

  &__image {
    
  }
}

.policy {
  min-width: 26rem;
  max-width: 100%;
  margin-bottom: 5rem;
  padding: 0 3rem;

  &__h1 {
    @include h1;
  }

  &__h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  &__list {
    list-style-type: decimal;
    font-size: 1.8rem;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    &__item {

    }
  }

}