.polityka-box {
  @include page-box;

  &__image-box {
    @include image-box--2;
  }

  &__image {
    
  }
}

.policy {
  @include page;

  &__h1 {
    @include h1;
  }

  &__h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;

    &:first-of-type {
      @include margin-top-medium;
    }
  }

  &__list {
    list-style-type: decimal;
    font-size: 1.8rem;

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    &__item {

    }
  }

}