.homepage {
  max-width: 130rem;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  padding: 2.5rem 5rem 2.5rem 10rem;
  position: relative;

  @media only screen and (max-width: 730px) {
   padding: var(--padding-home-mobile);   
  }
}   

/// pages top-level containers
.container {

  &--polityka {
    max-width: 130rem;
    margin: 0 auto;
    padding: 1rem 3rem;
  }
}
