@mixin nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.4rem;
  padding-bottom: 1.6rem;

  @media only screen and (max-width: 730px) {
    padding-bottom: 0;
  }
}

@mixin top-bar-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
}

@mixin image-box {
  height: 6rem;
  width: 22rem;
  border-radius: 2px;
  overflow: hidden;

  @media only screen and (max-width: 730px) {
    width: 100%;
  }
}

@mixin image-box--2 {
  display: block;
  height: 60rem;
  width: 20rem;
  border-radius: 2px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: 5rem;
}

@mixin no-hover {
  height: 0;
  opacity: 0;
}