@mixin nav-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 2.4rem;
  padding-bottom: 1.6rem;

  @media only screen and (max-width: 730px) {
    padding-bottom: 0;
  }
}

@mixin top-bar-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

@mixin image-box {
  height: 6rem;
  width: 22rem;
  border-radius: 2px;
  overflow: hidden;

  @media only screen and (max-width: 730px) {
    width: 100%;
  }
}

@mixin page-box {
  margin-top: calc(var(--top-bar-height) + 5rem);
  display: flex;
  justify-content: flex-start;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
}

@mixin page {
  min-width: 26rem;
  max-width: 100%;
  margin-bottom: 5rem;
  padding: 0 3rem;
}

@mixin image-box--2 {
  display: block;
  height: 60rem;
  width: 14rem;
  border-radius: 2px;
  overflow: hidden;
  flex-shrink: 0;
  margin-right: var(--margin);

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

@mixin h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  line-height: 1.2;
  letter-spacing: -.5px;
  font-style: italic;
}

@mixin text-format {
  font-size: 1.6rem;
  line-height: 1.4;
}

@mixin no-hover {
  height: 0;
  opacity: 0;
}

@mixin margin-top-medium {
  margin-top: 5rem;
}