.faded-link {
  color: var(--color-faded-link);
}

.decorative-rectangle {
  width: 45%;
  //width: 28rem;
  //max-width: 80%;
  height: .3rem;
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  border-radius: 2px;
  background: linear-gradient( to right, var(--color-red) 0%, var(--color-red) 66%, var(--color-body) 100% );
}